<h1 class="text-2xl font-bold">
  Listado de productos
</h1>

<h2 class="text-lg">
  Total de productos
  <span class="text-accent">
    {{ productsResource.value()?.count ?? 0 | number :  '1.0-0' }}
  </span>
</h2>

<div class="divider"></div>

<div class="flex gap-2 items-center h-20">
  <app-pagination [currentPage]="currentPage()" [pages]="productsResource.value()?.pages ?? 0" />
  <select class="select select-bordered" [value]="productsPerPage()"
  #selectPerPage (change)="productsPerPage.set(+selectPerPage.value!)">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>

  <div class="flex flex-1"></div>

  <button type="button" class="btn btn-primary"
  routerLink="/admin/products/new">
    Nuevo
  </button>
</div>

<product-table [products]="productsResource.value()?.products ?? []" />